body{
    font-family: 'Inter', sans-serif;
}

main{
    padding: 40px;
    background-color: #F3F5FC;
    display: grid;
    grid-template-columns: 960px 400px;
    height: 1024px;
    width: 1440px;
    box-sizing: border-box;
}

.inputPart{
    display: grid;
    grid-template-columns: 168px 792px;
    box-sizing: border-box;
}

.mainfuction{
    display: grid;
    grid-template-rows: 694px 112px;
    margin-top: 96px;
    padding-right: 44px;
    padding-bottom: 32px;
    box-sizing: border-box;

}

.textInput  {
    padding: 32px;
    font-family: 'Inter', sans-serif;
    color: #0A3871;
    background-color: #eaecf7;
    font-size: 32px;
    width: 744px;
    height: 680px;
    border: none;
    outline: none;
    resize: none;
    box-sizing: border-box;
    border-radius: 20px;
    line-height: 48px;
  }

.textInput textarea {
    width: 100%;
    height: 100%;
    
  }

textarea::placeholder {
    color: #0A3871;
    opacity: 1;
  }

.buttonsPart{
    height: 112;
  }

.Constraints{
    padding: 8px 0 0 30px;
    display: flex;
    align-items: center;
}
  
.Constraints p{
    opacity: 0.8;
    font-size: 12px;

}

.Constraints img {
    float: left;
    margin-right: 8px;

}

.buttonContainer{
    height: 88px;
    display: flex;
    align-items:end;
    justify-content: center;
}

.buttonContainer button{
    width: 328px;
    height: 67px;
    font-size: 16px;
    border-radius: 24px;
    border-color: #0A3871;

}

.encrypt-button{
    background-color: #0A3871;
    color: #FFFFFF;
    margin-right: 24px;
    transition: 0.1s all;    

}

.decrypt-button{
    border-width: 1px;
    background-color: #D8DFE8;
    color: #0A3871;
    transition: 0.1s all;    

}

.encrypt-button:hover,
.decrypt-button:hover{
    transform: scale(1.04);

}

.encrypt-button:active{
    background-color: #58708f;     

}

.decrypt-button:active{
    background-color: #9ca1a8; 

}

.outputPart{
    background: white;
    border-radius: 32px;
    padding: 32px;
}

.outputPart img{
    padding-top: 207px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.noTextText h2{
    margin-bottom: 16px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;

}

.noTextText p{
    text-align: center;
    font-size: 16px;
    color: #495057;

}

.outputTextPart{
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.textText{
    height: 90%;
}

.textText textarea {
    width: 100%;
    height: 100%;
    
}

.resultText{
    font-family: 'Inter', sans-serif;
    background-color:transparent;
    color: #495057;
    font-size: 24px;
    line-height: 36px;
    border: none;
    outline: none;
    resize: none;
    box-sizing: border-box;
}

.buttonContainerOutput{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0A3871;

}


.copyTextButton{
    width: 336px;
    height: 67px;
    font-size: 16px;
    border-width: 1px;
    border-radius: 24px;
    border-color: #0A3871;
    background-color: #FFFFFF;
    transition: 0.1s;

}

.copyTextButton:hover{
    transform: scale(1.04);

}

.copyTextButton:active{
    background-color: #58708f;     

}

.outputTextPart{
    display: none;
}