footer {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background: #343434;
    display: grid;
    grid-template-columns: 480px 480px 480px;
    width: 1440px;
    box-sizing: border-box;
    color: lightgray;
}

footer > * {
    padding-left: 15px;
    padding-right: 15px;
} 

footer h3,h4,h5{
    font-size: 26px;
    margin-bottom: 10px;
}

footer img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.aboutModify,
.contactModify{
    display: flex;
    align-items: center;
    margin-top: 20px;   
    font-size: 20px;
}

.aboutModify li{
    display: flex;
    align-items: center;
    width: 33%;
    justify-content: center;

}

.pageInfo p{
    text-align: justify;
    line-height: 25px;
    font-size: 20px;
}

a:visited {
    text-decoration: none;
    color: inherit;
  }

  /* Tablet styles */
@media screen and (max-width: 820px) {

    footer {
        text-align: center;
        display: grid;
        grid-template-columns: none;
        grid-template-rows: (3,106px);
        color: lightgray;
        width: 768px;

    }

    footer > * {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    footer > *:not(:first-child)  {
        border-top: 2px solid white;

    } 

    .contactModify{
        justify-content: center;
        
    }

    .pageInfo p{
        text-align: center;

    }

}

  /* Phone styles */
  @media screen and (max-width: 400px) {

    footer {
        text-align: center;
        display: grid;
        grid-template-columns: none;
        grid-template-rows: (3,106px);
        color: lightgray;
        width: 375px;

    }

    footer > * {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    footer > *:not(:first-child)  {
        border-top: 2px solid white;

    } 

    .contactModify{
        justify-content: center;
        display: block;
    }

    .contactModify img{
        padding-bottom: 5px;
    }

    .pageInfo p{
        text-align: center;

    }

  }