body{
    font-family: 'Inter', sans-serif;
    padding: 40px;
    background-color: #F3F5FC;
    display: grid;
    grid-template-columns: 960px 480px;
    height: 1024px;
    width: 1440px;
    box-sizing: border-box;
}

.mainfuction{
    margin-left: 240px;

}

.textInput{
    color: #0A3871;
    font-size: 32px;
}

.outputPart{
    background: lightyellow;
}
